<html
        lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" lang="pl">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/main.css}"/>

</head>
<body style="background-color: rgba(50, 115, 220, 0.3);">

<div class="container">

    <h1>QUIZOWNIA</h1>
    <a class="btn btn-secondary"  th:href="@{/createQuestionnaire}"> Utwórz nową ankietę</a>


    <h4 style="padding-top: 15px">Lista Quizów:</h4>

    <ol>
        <li th:each="questionnaire : ${questionnaires}">
            <div style="padding-bottom: 5px">
                <a class="btn btn-primary btn-lg btn-block" role="button"
                   th:href="@{'/singleQuestionnaire/'+${questionnaire.id}}" th:text="${questionnaire.getName()}">
                </a>
            </div>
            <a lass=" btn btn-primary" role="button"
               th:href="@{'/singleQuestionnaire/conuter/'+${questionnaire.id}}"> Wyniki</a>
        </li>
    </ol>

</div>
</body>
</html>