<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" lang="pl">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>View of single questionnaire</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body class="bg-info">

<div class="container">
    <!-- Content here -->

<!--    tutaj będzie potrzebny formularz form i radio button group -->
    <form method="post" action="send.php">
    <ol>

        <div class="bg-red">
            <li th:each="question1 : ${singleQuestionnaire.getQuestion()}">


                <div class="alert-primary" th:text="${question1.getQuestion()}"></div>
                <div class="radio" th:each="singleAnswere: ${question1.getAnswers()}">
<!--                    <div class="border-1">-->
                        <input type="radio" th:name="${question1.getId()}" th:text="${singleAnswere.getDescription()}" th:value="${question1.getAnswers()}" ><br>
<!--                        <input type="radio" name="Pytanie1" value="false" > False <br>-->

<!--                    </div>-->
                </div>

            </li>
        </div>

    </ol>

    </form>


</div>

</body>
</html>